<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About us</title>
    <link rel="stylesheet" href="/CSS/aboutus.css" />
  </head>

  <!-- https://www.w3schools.com/howto/howto_css_image_overlay.asp -->
  <nav class="navbar">
    <!-- Navigattion Bar -->

    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="container">
      <div class="div-Deshani">
        <img
          src="/Images/About us/Deshani.jpg"
          alt="Deshani Dilthara"
          class="image"
        />
        <div class="overlay-Deshani">
          <div class="deshani">
            Deshani Dilthara <br /><br />
            20211028
          </div>
        </div>
      </div>

      <div class="div-Avantha">
        <img
          src="/Images/About us/Avantha.jpg"
          alt="Avantha Fonseka"
          class="image"
        />
        <div class="overlay-Avantha">
          <div class="avantha">Avantha Fonseka <br /><br />20200871</div>
        </div>
      </div>

      <div class="div-Manori">
        <img
          src="/Images/About us/Manori.jpg"
          alt="Manori Lakmali"
          class="image"
        />
        <div class="overlay-Manori">
          <div class="manori">Manori Lakmali <br /><br />20210639</div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="pageEditor-Manori.html">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the Sports section
    </div>
  </footer>
</html>
