<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About us</title>
    <link rel="stylesheet" href="/CSS/aboutus.css" />
  </head>

  <!-- https://www.w3schools.com/howto/howto_css_image_overlay.asp -->
  <nav class="navbar">
    <!-- Navigattion Bar -->

    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="container">
      <div class="div-Deshani">
        <img
          src="/Images/About us/Deshani.jpg"
          alt="Deshani Dilthara"
          class="image"
        />
        <div class="overlay-Deshani">
          <div class="deshani">
            <p>
              Deshani Dilthara is a passionate and dedicated individual born on
              June 28, 1997. She hails from the beautiful town of Homagama.
              Deshani is pursuing her academic aspirations in the field of
              software engineering at the University of Westminster. <br />
              <br />
              UOW ID -W1870082 <br />
              IID ID - 20211028
            </p>
          </div>
        </div>
      </div>

      <div class="div-Avantha">
        <img
          src="/Images/About us/Avantha.jpg"
          alt="Avantha Fonseka"
          class="image"
        />
        <div class="overlay-Avantha">
          <div class="avantha">
            <p>
              Avantha Fonseka was born on 16th October 1999 in Nawala, Sri
              Lanka. He is currently pursuing a degree in Software Engineering
              at the University of Westminster <br />
              <br />
              UOW ID - W1866984 <br />
              IID ID -20200871
            </p>
          </div>
        </div>
      </div>

      <div class="div-Manori">
        <img
          src="/Images/About us/Manori.jpg"
          alt="Manori Lakmali"
          class="image"
        />
        <div class="overlay-Manori">
          <div class="manori">
            <p>
              Manori Lakmali is a dedicated and driven individual, born on
              September 2nd, 1998. Hailing from Rathmalana, she is pursuing her
              passion for IT by following a BEng. Software Engineering degree at
              the University of Westminster <br />
              <br />
              UOW ID - W1863377 <br />
              IID ID - 20210639
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="pageEditor-Manori.html">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the Sports section
    </div>
  </footer>
</html>
