<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/content_page.css" />
    <title>Football</title>
  </head>

  <nav class="navbar">
    <!-- navigation Bar -->
    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="content">
      <h1>Badminton</h1>
      <ul>
        <li>
          <a href="#history">The History of Badminton</a>
        </li>
        <li>
          <a href="#lovetheSport"
            >Why Do So Many People Love Playing Badminton?</a
          >
        </li>
      </ul>
      <p>
        A lightweight racket and a shuttlecock are used to play the game of
        badminton, which is often played indoors. In the past, 16 geese were
        linked to a little cork with a globe and 16 feathers that weighed
        roughly 5 grams in place of the shuttlecock. The BWF, or Badminton World
        Federation, permits the use of synthetic materials in the manufacture of
        shuttles nowadays.
      </p>

      <p>
        The game of badminton can be played either in singles or doubles, which
        means that either a single player on each side or double players on each
        side can compete on the court, which is 13.4 meters long and 6.1 meters
        wide. In the center of the court is a net. If the shuttlecock strikes
        the ground after the player hits it, the opponent scores.
      </p>

      <h2 id="history">The History of Badminton</h2>
      <p>
        The country where the dukes of Beaufort lived in England is where
        badminton gets its name. The first time the game was played in a home
        was in the year 1873. The origins of the game, which is quite similar to
        the kids' games shuttlecock and battledore, can be traced to nations
        like Greece, India, and China.
      </p>

      <p>
        The badminton global federation, sometimes known as BFW, is the
        organization in charge of overseeing badminton internationally. The
        inaugural championship organized by the BWF took place in 1977, and this
        regulatory organization was founded in the year 1934. While this game is
        well-known worldwide, it is particularly well-known in Denmark, Japan,
        Malaysia, and Indonesia.
      </p>

      <h2 id="lovetheSport">Why Do So Many People Love Playing Badminton?</h2>
      <p>
        Badminton is a well-liked free-time sport since it can be played
        everywhere, including parks, amusement parks, and gardens. That is also
        one of the factors that contribute to the popularity of badminton. Which
        is unsurprising in no way!
      </p>

      <p>
        Unlike sports that are only played in the winter or summer. The weather
        has little impact on badminton because it may be played both inside and
        outside. Players of badminton will not be affected by the weather
        throughout the year. Then stop whining and begin your subsequent round!
      </p>

      <p>
        Although badminton is not a physically taxing sport, the technique is
        more crucial than strength. This implies that everyone, from young
        toddlers to senior citizens, can play badminton. What wonderful variety!
      </p>
    </div>
  </body>

  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="#pageEditor">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
