<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/content_page.css" />
    <title>Football</title>
  </head>

  <nav class="navbar">
    <!-- navigation Bar -->
    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="content">
      <h1>Basketball</h1>
      <ul>
        <li>
          <a href="#history">The History of Basketball</a>
        </li>
        <li>
          <a href="#lovetheSport"
            >Why Do So Many People Love Playing Basketball?</a
          >
        </li>
      </ul>

      <p>
        In the past several years, basketball has truly gone worldwide. The game
        is currently well-liked in the US. In addition, due to the enjoyable and
        competitive aspects of the game, many people refer to it as an American
        game. Also, this is one of the indoor games that continues to draw in
        zillions of people worldwide.Students will learn about the various
        elements that make the game of basketball unique through basketball
        essays.
      </p>

      <p>
        It is a cooperative game that has become incredibly popular. The game is
        also played using a ball, which is thrown into a horizontal basket as
        part of the action. The goal of the game is to shoot the ball and
        accumulate as many points as possible. 2 teams, each with a total of 5
        players, compete in this game. The game is also played on a rectangular
        court that is demarcated and includes baskets on each end
      </p>

      <h2 id="history">The History of Basketball</h2>
      <p>
        James Naismith, a Canadian physical education teacher from Springfield,
        Massachusetts, created basketball in 1891 as a less dangerous sport than
        football. When Naismith developed the indoor sport to keep sportsmen
        indoors during the winter, he was a doctoral student of 31 years old. As
        the 20th century went on, the game established itself quite fast and
        gained enormous popularity, first in America and then everywhere in the
        world. The professional game of basketball emerged after it gained
        popularity in American colleges. Basketball became ingrained in American
        society and the American National Basketball Association (NBA), founded
        in 1946, expanded into a multibillion-dollar business by the turn of the
        century.
      </p>

      <h2 id="lovetheSport">Why Do So Many People Love Playing Basketball?</h2>
      <p>
        Basketball is one of the most affordable sports to play. There isn't any
        more gear needed. A ball and a hoop are all you need to get started. It
        doesn't even call for the usage of a hoop or a basketball. Any ball or
        other object can be used to create a hoop. The hoop may alternatively be
        substituted by a box. It is possible to purchase this gear. Pro
        basketball and high-end basketball are only a few examples. To save
        money on these products, it makes sense to search for sales online.
      </p>

      <p>
        Compared to other sports, basketball is the most accessible to the
        general people. It can be watched and played. Basketball is a lot of fun
        to play, and all it needs is one person. Basketball can be played in a
        variety of locations, including the street, a schoolyard, indoors, and
        outdoors. As basketball is now broadcast globally, you may virtually
        watch a game from anywhere in the world. Online viewers can watch the
        games live as well.
      </p>
    </div>
  </body>

  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="#pageEditor">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
