<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/comment.css" />
    <title>Feedback</title>
  </head>
  <body>
    <div class="content">
      <nav class="navbar">
        <!-- Navigattion Bar -->

        <ul>
          <li>
            <a href="/Views/presentation-avantha.html">
              <img src="/Images/logo.png" alt="Logo" class="logo" />
            </a>
          </li>
          <li><a href="main - Deshani.html">Home</a></li>
          <li><a href="quiz - Manori.html">Quiz</a></li>
          <li><a href="comment - Deshani.html">Comments</a></li>
          <li><a href="store-avantha.html">Store</a></li>
          <li><a href="aboutus - Manori.html">About us</a></li>
        </ul>
      </nav>

      <div class="commentsPage">
        <form>
          <div class="comment">
            <p class="form_p">
              How Satisfied were you with our website today? Choose from 0 to
              10, where 0 is extremely dissatisfied and 10 is extremely
              satisfied
            </p>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">0</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">1</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">2</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">3</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">4</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">5</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">6</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">7</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">8</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">9</label>

            <input type="radio" id="html" name="satisfaction" value="HTML" />
            <label for="html">10</label>
          </div>

          <div class="rate">
            <br />
            <p class="form_p">
              Please could you tell us your reasons for giving this rating?
            </p>

            <textarea id="textArea" cols="110" rows="5"></textarea>
          </div>

          <div class="dropdown1">
            <br />
            <p class="form_p">How did you want to complete this task today?</p>
            <select id="subject" class="right">
              <option value="Subject">--Please Select--</option>
              <option value="Phone">Phone</option>
              <option value="Website">Website</option>
              <option value="Webchat">Webchat</option>
              <option value="Social Media">Social Media</option>
              <option value="Email">Email</option>
            </select>
          </div>

          <div class="dropdown2">
            <p class="form_p">
              If you had to complete this task again, how would you prefer to do
              it?
            </p>
            <select id="subject" class="right">
              <option value="Subject">--Please Select--</option>
              <option value="Phone">Phone</option>
              <option value="Website">Website</option>
              <option value="Webchat">Webchat</option>
              <option value="Social Media">Social Media</option>
              <option value="Email">Email</option>
            </select>
          </div>
        </form>
      </div>

      <div class="submitBtn-div">
        <a href="/Views/comments-submit.html">
          <button class="submitBtn">Submit</button>
        </a>
      </div>
    </div>
  </body>

  <footer>
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="pageEditor-Deshani.html">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the Sports section
    </div>
  </footer>
</html>
