<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/content_page.css" />
    <title>Football</title>
  </head>

  <nav class="navbar">
    <!-- navigation Bar -->
    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="content">
      <h1>Cricket</h1>
      <ul>
        <li>
          <a href="#history">The History of Cricket</a>
        </li>
        <li>
          <a href="#lovetheSport"
            >Why Do So Many People Love Playing Cricket?</a
          >
        </li>
      </ul>
      <p>
        A bat and ball are needed for the sport of cricket. It is undoubtedly
        among the most popular sports in the world. Two teams with 11 players
        each make up this game. To score the most runs is the game's primary
        objective. It is played on a field that has been well-maintained for
        that purpose, on a pitch. Particularly popular in England and India is
        cricket. Cricket has a lot of promise and provides players with good
        financial opportunities. There are several different formats for
        cricket. Each format has a unique set of guidelines and limitations.
      </p>

      <p>
        Cricket has many different formats, and each of them has a distinct fan
        base. Because test matches are so intense and real, some people enjoy
        watching them. And others prefer Twenty-20, which demands little
        interaction and is very engaging. Cricket's conventional Test Match
        format is used today.
      </p>

      <h2 id="history">The History of Cricket</h2>
      <p>
        The history of cricket can be traced back to the late 16th century.
        Originating in southeast England, it spread internationally in the 19th
        and 20th centuries after being a well-known sport there in the 18th.
        International competition has existed since the 19th century, and the
        first official Test cricket matches are thought to have taken place in
        1877.
      </p>

      <p>
        It is generally accepted that cricket continued to be played by kids for
        several generations before becoming more and more popular among adults
        at the start of the 17th century. Since bowls are the elder sport, it is
        possible that cricket evolved from bowls as a result of a batsman's
        attempt to deflect the ball away from the target. The original equipment
        for playing on sheep-grazed ground or in clearings may have included a
        matted lump of sheep's wool as the ball, a stick, a crook, or another
        agricultural instrument as the bat, and a stool, a tree stump, or a gate
        (such as a wicket gate) as the wicket.
      </p>

      <h2 id="lovetheSport">Why Do So Many People Love Playing Cricket?</h2>
      <p>
        Location is irrelevant when playing cricket. It could be played in any
        location, including backyards, parks, streets, and beaches. Street
        cricket is where many athletes who have competed for their nation at the
        international level learned the game's rules.
      </p>

      <p>
        You are aware of how quickly this satiation varies in this sport if you
        have ever seen cricket. It's possible for the team that seems to be
        winning to lose. One of the most thrilling features of the game of
        cricket is how often records are broken.
      </p>
    </div>
  </body>

  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="#pageEditor">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
