<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/content_page.css" />
    <title>Football</title>
  </head>

  <nav class="navbar">
    <!-- navigation Bar -->
    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="content">
      <h1>Football</h1>
      <ul>
        <li><a href="#history">The History of Football</a></li>
        <li><a href="#lovetheSport">Why Do So Many People Love Playing Football?</a></li>
      </ul>
      <p>
        Football is a game that requires physical prowess, extreme fitness, and
        brains to play. The game lasts 90 minutes. Two teams are present. A
        minimum of 7 players and a maximum of 11 players per team are allowed.
        The goalposts are two. The ball is kept out of the goal area by the
        goalkeepers for each team. By kicking the ball, the opposing players
        attempt to zigzag their way forward. To score a goal, they aim to
        outpace their opponents. It is an intense game filled with thrills,
        feelings, blood, and sweat.
      </p>

      <h2 id="history">The History of Football</h2>
      <p>
        Football was not made of leather in the past. To manufacture footballs,
        people have in some regions blown up pigs' bladders. A rock was used to
        play football in Mesoamerican society. This stood for the Sun God.
        Unfortunately, the captain of the losing team was offered up to God.
        Even after the first indications of modern football began to appear in
        England, this game still contained a violent and barbaric character.
      </p>

      <p>
        This game split into two varieties as the 19th century progressed. In
        one form, it was allowed to handle the ball with hands; in the other,
        all players other than the goalkeeper were prohibited from doing so. The
        game's rules were established at this point, and the amount of violence
        involved in it significantly decreased.
      </p>

      <h2 id="lovetheSport">Why Do So Many People Love Playing Football?</h2>
      <p>
        Throughout the entire 90-minute game, there is enthusiasm. It is
        impossible to put a value on the thrill of passing the ball through a
        horde of opponents or the joy of slamming it into the goal. There is
        always the possibility of the opponent stealing the ball away as the
        player advances with it. Then there are the skilled players, like Messi
        or Beckham, who can miraculously cause the ball to curve in midair.
      </p>

      <p>
        The players also engage in some tense encounters. The competitors take
        the match very seriously. No football fan will ever forget Ronaldo's
        attitude or Zidane's headbutt. At the same time, one can never forget
        the image of Croatia's president comforting the team members after their
        heartbreaking World Cup Final defeat. The feelings are intense.
      </p>
    </div>
  </body>

  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="#pageEditor">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
