<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main</title>
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>

  <nav class="navbar">
    <!-- navigation Bar -->
    <ul>
      <li>
        <a href="/Views/presentation-avantha.html">
          <img src="/Images/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li><a href="main - Deshani.html">Home</a></li>
      <li><a href="quiz - Manori.html">Quiz</a></li>
      <li><a href="comment - Deshani.html">Comments</a></li>
      <li><a href="store-avantha.html">Store</a></li>
      <li><a href="aboutus - Manori.html">About us</a></li>
    </ul>
  </nav>

  <body>
    <div class="content">
      <table>
        <tr>
          <td>
            <div class="football">
              <!-- Section 1 -Football -->

              <a href="football.html">
                <img alt="Football" src="/Images/Football.png" />
              </a>
              <div class="item">
                <p>Football</p>
              </div>
            </div>
          </td>
          <td>
            <div class="badminton">
              <!-- Section 2 -Badminton -->

              <a href="badminton.html">
                <img alt="Badminton" src="/Images/Badminton.png" />
              </a>
              <div class="item">
                <p>Badminton</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="cricket">
              <!-- Section 3 -Cricket -->

              <a href="cricket.html">
                <img alt="Cricket" src="/Images/Cricket.png" />
              </a>
              <div class="item">
                <p>Cricket</p>
              </div>
            </div>
          </td>
          <td>
            <div class="basketball">
              <!-- Section 4 - Basketball -->

              <a href="basketball.html">
                <img alt="Basketball" src="/Images/Basketball.png" />
              </a>
              <div class="item">
                <p>Basketball</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>

  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="pageEditor-Deshani.html">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
