<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/CSS/quiz.css" />
  </head>
  <body>
    <nav class="navbar">
      <!-- Navigattion Bar -->

      <ul>
        <li>
          <a href="/Views/presentation-avantha.html">
            <img src="/Images/logo.png" alt="Logo" class="logo" />
          </a>
        </li>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
      </ul>
    </nav>

    <div class="questionsContainer">
      <div class="question_header">
        <h1>Timer</h1>
      </div>

      <div class="question_1">
        <h1>1. Which country has won the most Football World Cups?</h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">Uruguay</button>
          <button class="answer_2">Brazil*</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">Argentina</button>
          <button class="answer_4">France</button>
        </div>
      </div>

      <div class="question_2">
        <h1>
          2. Which German multinational sportswear company is Messi an
          ambassador for?
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">Adidas*</button>
          <button class="answer_2">Nike</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">Puma</button>
          <button class="answer_4">Under Armour</button>
        </div>
      </div>

      <div class="question_3">
        <h1>
          3. When a badminton player wins a rally, how many points can he or she
          get?
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">1 point*</button>
          <button class="answer_2">2 points</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">3 points</button>
          <button class="answer_4">4 points</button>
        </div>
      </div>

      <div class="question_4">
        <h1>
          4. When the score in a badminton game reaches 20-all, what can be the
          final score?
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">24 – 20</button>
          <button class="answer_2">23 – 20</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">22 – 20*</button>
          <button class="answer_4">21 - 20</button>
        </div>
      </div>

      <div class="question_5">
        <h1>
          5. How many players are on each side in a standard match of Cricket?
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">08</button>
          <button class="answer_2">09</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">10</button>
          <button class="answer_4">11*</button>
        </div>
      </div>

      <div class="question_6">
        <h1>
          6. The slang term "duck" in cricket typically refers to what score for
          a batsman?
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">Zero*</button>
          <button class="answer_2">Fifty - Half a century</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">Hundred - Century</button>
          <button class="answer_4">Twenty Five</button>
        </div>
      </div>

      <div class="question_7">
        <h1>7. Who won the maximum sixes award for the IPL 2008 season?</h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">Sachin Tendulkar</button>
          <button class="answer_2">Muttiah Muralitharan</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">Mahela Jayawardene</button>
          <button class="answer_4">Sanath Jayasuriya*</button>
        </div>
      </div>

      <div class="question_8">
        <h1>8. What is the highest governing body of basketball?</h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">NBA</button>
          <button class="answer_2">FIBA*</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">EuroLeague</button>
          <button class="answer_4">The Basketball League</button>
        </div>
      </div>

      <div class="question_9">
        <h1>9. A free throw is worth…</h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">1 point*</button>
          <button class="answer_2">2 points</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">3 points</button>
          <button class="answer_4">4 points</button>
        </div>
      </div>

      <div class="question_10">
        <h1>
          10. When a person dribbles with both hands simultaneously, it is known
          as…
        </h1>
        <div class="rowAnswerContainer_1">
          <button class="answer_1">Goaltend</button>
          <button class="answer_2">Drabble</button>
        </div>
        <div class="rowAnswerContainer_2">
          <button class="answer_3">Double-dribble*</button>
          <button class="answer_4">Rebounding</button>
        </div>
      </div>

      <div>
        <button class="submit">Submit Answers</button>
      </div>
    </div>
  </body>
  <footer>
    <!-- Footer -->
    <div class="footerLinks">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="main - Deshani.html">Home</a></li>
        <li><a href="quiz - Manori.html">Quiz</a></li>
        <li><a href="comment - Deshani.html">Comments</a></li>
        <li><a href="store-avantha.html">Store</a></li>
        <li><a href="aboutus - Manori.html">About us</a></li>
        <li><a href="pageEditor-Manori.html">Page Editor</a></li>
        <li><br /></li>
      </ul>
    </div>

    <div class="copyrights">
      copyright &copy; 2023 All rights Reserved by the D.A.M Sports club
    </div>
  </footer>
</html>
